{% extends 'base.html.twig' %}
 
{# {% block title %}New CV{% endblock %} #}

{% block body %}
<div class="mt-5 pt-5 col-md-8">
    <h1>Create new CV</h1>

    {{ include('cv/_form.html.twig') }}

    <a href="{{ path('cv_index') }}">back to list</a>
    </div>
{% endblock %}
